<app-header></app-header>
<div class="background">
<div class="d-flex flex-row justify-content-center" style="width: 50vw;">
    <div class="d-flex flex-column justify-content-center" style="height: 100vh;">
        <div class="card-item">
          <h4 class="text text-light">Thank you for logging in</h4>
          <br>
          <br>
          <br>
          <button class="btn btn-danger" (click)="navigateToLogin()">LogOut</button>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>


