.header
{
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: black;
}
.appName
{

    font-style: italic;
    color:bisque;
    font-family:monospace;
    padding-left: 15px;
    padding-top: 10px;
}